/********************
* Colores
********************/

$color-primario:		#ee3344;
$color-primarioA:		#cc3344;
$color-secundario:		#555555;
$color-secundarioA:		#222222;

$color-negro:			#000000;
$color-blanco:			#ffffff;

.color-primario{
	color: $color-primario;
}
.color-primarioA{
	color: $color-primarioA;
}
.color-secundario{
	color: $color-secundario;
}
.color-secundarioA{
	color: $color-secundarioA;
}
.color-negro{
	color: $color-negro;
}
.color-blanco{
	color: $color-blanco;
}