/********************
* Backgrounds
********************/

$background-primario:			#ee3344;
$background-primarioA:			#cc3344;
$background-secundario:			#555555;

.background-primario{
	background-color: $background-primario;
}
.background-secundario{
	background-color: $background-secundario;
}