/********************
* Botones
********************/
@mixin boton{
	padding: 10px 15px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	&:hover{
		background-color: $background-primarioA;
	}
}
.boton{
	@include boton;
}