/********************
* Titulos
********************/

%titulo-principal{
	letter-spacing: 1px;
}
%titulo-subtitulo{
	letter-spacing: 0.7px
}
%titulo-general{
	letter-spacing: 0.5px;
}

%titulo-light{
	font-weight: 300;
}
%titulo-regular{
	font-weight: 400;
}
%titulo-bold{
	font-weight: 700;
}
%titulo-extra-bold{
	font-weight: 900;
}

.molecula-titulo-principal{
	@extend %titulo-principal;
	@extend %titulo-bold;
}
.molecula-subtitulo{
	@extend %titulo-subtitulo;
	@extend %titulo-regular;
}
.molecula-titulo-general{
	@extend %titulo-general;
	@extend %titulo-bold;
	font-size: 2.2rem;
}
