/********************
* Columnas
********************/

%clearfix {
    *zoom: 1;
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
 
 
// breakpoints
$breakpoint-small: "only screen and (min-width: 576px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 992px)";
$breakpoint-extra-large: "only screen and (min-width: 1280px)";


[class*='column-'] {
    float: left;
    padding: 0.8em;
    width: 100%;
    min-height: 1px; 
    }  
@media #{$breakpoint-small} {
    @for $i from 1 through $grid-columns {      
        .column-#{$i} {         
            width: 100% / $grid-columns * $i;   
            }           
        }   
    } 
 
@media #{$breakpoint-medium} {
    @for $i from 1 through $grid-columns {      
        .column-m-#{$i} {         
            width: 100% / $grid-columns * $i;   
            }           
        }   
    }

@media #{$breakpoint-large} {
    @for $i from 1 through $grid-columns {      
        .column-l-#{$i} {         
            width: 100% / $grid-columns * $i;   
            }           
        }   
    }

@media #{$breakpoint-extra-large} {
    @for $i from 1 through $grid-columns {      
        .column-xl-#{$i} {         
            width: 100% / $grid-columns * $i;   
            }           
        }   
    }
