/********************
* Contenido
********************/

// grid variables
$contenido-small: "min-width: 576px";
$contenido-medium: "min-width: 768px";
$contenido-large: "min-width: 992px";
$contenido-extra-large: "min-width: 1200px"; 


@mixin contenido{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    @media ($contenido-small){
        max-width: 540px;
    }
    @media ($contenido-medium){
        max-width: 720px;
    }
    @media ($contenido-large){
        max-width: 960px;
    }
    @media ($contenido-extra-large){
        max-width: 1140px;
    }
    
    
    
}

.contenido{
    @include contenido;
}
.contenido-amplio{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}